<form class="form-horizontal"
      autocomplete="off"
      #createUserModal="ngForm"
      (ngSubmit)="save()">
    <abp-modal-header [title]="'Create' | localize"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="Name">
                {{ "Name" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text"
                       class="form-control"
                       name="name"
                       id="name"
                       required
                       [(ngModel)]="project.name"
                       #nameModel="ngModel"
                       #nameE1 />
                <abp-validation-summary [control]="nameModel"
                                        [controlEl]="nameE1"></abp-validation-summary>
            </div>
        </div>
        <!--<div class="form-group row required">
        <label class="col-md-3 col-form-label" for="CommericalRegisterationNumber">
            {{ "Description" | localize }}
        </label>
        <div class="col-md-9">
            <input type="text"
                   class="form-control"
                   name="description"
                   id="description"
                   required
                   [(ngModel)]="project.description"
                   #descriptionModel="ngModel"
                   #descriptionE1 />
            <abp-validation-summary [control]="descriptionModel"
                                    [controlEl]="descriptionE1"></abp-validation-summary>
        </div>
    </div>-->

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="CommericalRegisterationNumber">
                {{ "ContractNumber" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text"
                       class="form-control"
                       name="contractNumber"
                       id="contractNumber"
                       required
                       [(ngModel)]="project.contractNumber"
                       #contractNumberModel="ngModel"
                       #contractNumber />
                <abp-validation-summary [control]="contractNumberModel"
                                        [controlEl]="contractNumber"></abp-validation-summary>
            </div>
        </div>


        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="ADDRESS">
                {{ "StartDate" | localize }}
            </label>
            <div class="col-md-9">
                <input type="date"
                       class="form-control"
                       name="startDate"
                       id="startDate"
                       required
                       [(ngModel)]="project.startDate"
                       #startDateModel="ngModel"
                       #startDate />
                <abp-validation-summary [control]="startDateModel"
                                        [controlEl]="startDate"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="ADDRESS">
                {{ "CompletedDate" | localize }}
            </label>
            <div class="col-md-9">
                <input type="date"
                       class="form-control"
                       [min]="project.startDate"
                       name="completeDate"
                       id="completeDate"
                       required
                       [(ngModel)]="project.completedDate"
                       #completeDateModel="ngModel"
                       #completeDate />
                <abp-validation-summary [control]="completeDateModel"
                                        [controlEl]="completeDate"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="ADDRESS">
                {{ "SiteDelivedDate" | localize }}
            </label>
            <div class="col-md-9">
                <input type="date"
                       [min]="project.startDate"
                       class="form-control"
                       name="siteDelivedDate"
                       id="siteDelivedDate"
                       required
                       [(ngModel)]="project.siteDelivedDate"
                       #siteDelivedDateModel="ngModel"
                       #siteDelivedDate />
                <abp-validation-summary [control]="siteDelivedDateModel"
                                        [controlEl]="siteDelivedDate"></abp-validation-summary>
            </div>
        </div>



        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="ADDRESS">
                {{ "AgencyType" | localize }}
            </label>
            <div class="col-md-9">
                <select name="agencyTypeId"
                        class="form-control"
                        id="agencyTypeId" [(ngModel)]="project.agencyTypeId"
                        (ngModelChange)="onTypeChange($event)"
                        #agencyTypeIdModel="ngModel"
                        #agencyTypeId>
                    <option *ngFor="let agencyType of agencyTypes" [value]="agencyType.id">{{agencyType.name}}</option>
                </select>

                <abp-validation-summary [control]="agencyTypeIdModel"
                                        [controlEl]="agencyTypeId"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="ADDRESS">
                {{ "Agency" | localize }}
            </label>
            <div class="col-md-9">
                <select name="AgencyId"
                        class="form-control"
                        id="AgencyId" [(ngModel)]="project.agencyId"
                        (ngModelChange)="onAgencyChange($event)"
                        #agencyIdModel="ngModel"
                        #agencyId>
                    <option *ngFor="let agency of agencies" [value]="agency.id">{{agency.name}}</option>
                </select>

                <abp-validation-summary [control]="agencyIdModel"
                                        [controlEl]="agencyId"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="ADDRESS">
                {{ "Departments" | localize }}
            </label>
            <div class="col-md-9">
                <select name="DepartmentId"
                        class="form-control"
                        id="DepartmentId" [(ngModel)]="project.departmentId"
                        #departmentIdModel="ngModel"
                        #departmentId>
                    <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
                </select>

                <abp-validation-summary [control]="departmentIdModel"
                                        [controlEl]="departmentId"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="ADDRESS">
                {{ "SupervisingEngineer" | localize }}
            </label>
            <div class="col-md-9">
                <select name="agencyTypeId"
                        class="form-control"
                        id="SupervisingEngineerId" [(ngModel)]="project.supervisingEngineerId"
                        #supervisingEngineerIdModel="ngModel"
                        #supervisingEngineerId required>
                    <option *ngFor="let supervisingEngineer of supervisingEngineers" [value]="supervisingEngineer.id">
                        {{supervisingEngineer.name}}
                    </option>
                </select>

                <abp-validation-summary [control]="supervisingEngineerIdModel"
                                        [controlEl]="supervisingEngineerId"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="ADDRESS">
                {{ "Consultant" | localize }}
            </label>
            <div class="col-md-9">
                <select name="ConsultantId"
                        class="form-control"
                        id="ConsultantId" [(ngModel)]="project.consultantId"
                        #consultantIdModel="ngModel"
                        #consultantId required>
                    <option *ngFor="let consultant of consultants" [value]="consultant.id">{{consultant.name}}</option>
                </select>

                <abp-validation-summary [control]="consultantIdModel"
                                        [controlEl]="consultantId"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="ADDRESS">
                {{ "Contractor" | localize }}
            </label>
            <div class="col-md-9">
                <select name="ContractorId"
                        class="form-control"
                        id="ContractorId" [(ngModel)]="project.contractorId"
                        #contractorIdModel="ngModel"
                        #contractorId required>
                    <option *ngFor="let contractor of contractors" [value]="contractor.id">{{contractor.name}}</option>
                </select>

                <abp-validation-summary [control]="contractorIdModel"
                                        [controlEl]="contractorId"></abp-validation-summary>
            </div>
        </div>

        <!--<div class="form-group row required">
        <label class="col-md-3 col-form-label" for="ADDRESS">
            {{ "LabProjectManager" | localize }}
        </label>
        <div class="col-md-9">
            <select name="LabProjectManagerId"
                    class="form-control"
                    id="LabProjectManagerId" [(ngModel)]="project.labProjectManagerId"
                    #labProjectManagerIdModel="ngModel"
                    #labProjectManagerId required>
                <option *ngFor="let projectManager of projectManagers" [value]="projectManager.id">{{projectManager.name}}</option>
            </select>

            <abp-validation-summary [control]="labProjectManagerIdModel"
                                    [controlEl]="labProjectManagerId"></abp-validation-summary>
        </div>
    </div>-->

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="ADDRESS">
                {{ "SupervisingQuality" | localize }}
            </label>
            <div class="col-md-9">
                <select name="SupervisingQualityId"
                        class="form-control"
                        id="SupervisingQualityId" [(ngModel)]="project.supervisingQualityId"
                        #supervisingQualityIdModel="ngModel"
                        #supervisingQualityId required>
                    <option *ngFor="let supervisingQuality of supervisingQualities" [value]="supervisingQuality.id">{{supervisingQuality.name}}</option>
                </select>

                <abp-validation-summary [control]="supervisingQualityIdModel"
                                        [controlEl]="supervisingQualityId"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="ADDRESS">
                {{ "Map" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control"
                       id="mapUrl" (paste)="setMapLanAndLog($event)">
            </div>
        </div>
        <div class="col-12">
            <div #mapContainer id="map" style="width: 100%; height:250px;"></div>
        </div>

    </div>
    <abp-modal-footer [cancelDisabled]="saving"
                      [saveDisabled]="!createUserModal.form.valid || saving"
                      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
