<form class="form-horizontal"
      autocomplete="off"
      #createUserModal="ngForm"
      (ngSubmit)="save()">
    <abp-modal-header [title]="'CreateNewContractor' | localize"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">

        <tabset>
            <tab [heading]="'Details' | localize" class="pt-3 px-2">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="COMMERCIALNAME">
                        {{ "COMMERCIALNAME" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="commericalName"
                               id="commericalName"
                               required
                               maxlength="32"
                               [(ngModel)]="contractor.commericalName"
                               #commericalNameModel="ngModel"
                               #commericalNameE1 />
                        <abp-validation-summary [control]="commericalNameModel"
                                                [controlEl]="commericalNameE1"></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="CommericalRegisterationNumber">
                        {{ "CommericalRegisterationNumber" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="commericalRegisterationNumber"
                               id="commericalRegisterationNumber"
                               required
                               maxlength="32"
                               [(ngModel)]="contractor.commericalRegisterationNumber"
                               #commericalRegisterationNumberModel="ngModel"
                               #commericalRegisterationNumberE1 />
                        <abp-validation-summary [control]="commericalRegisterationNumberModel"
                                                [controlEl]="commericalRegisterationNumberE1"></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="ADDRESS">
                        {{ "ADDRESS" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="Address"
                               id="Address"
                               required
                               maxlength="32"
                               [(ngModel)]="contractor.address"
                               #addressModel="ngModel"
                               #address />
                        <abp-validation-summary [control]="addressModel"
                                                [controlEl]="address"></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="CONTRACTNAME">
                        {{ "Contract_Name" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="ContactName"
                               id="ContactName"
                               required
                               maxlength="32"
                               [(ngModel)]="contractor.contactName"
                               #contactNameModel="ngModel"
                               #contactName />
                        <abp-validation-summary [control]="contactNameModel"
                                                [controlEl]="contactName"></abp-validation-summary>
                    </div>
                </div>
            </tab>
            <tab [heading]="'UserDetails' | localize" class="pt-3 px-2">

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="UserName">
                        {{ "UserName" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="userName"
                               id="userName"
                               required
                               maxlength="32"
                               [(ngModel)]="currentUser.userName"
                               #userNameModel="ngModel"
                               #userNameE1 />
                        <abp-validation-summary [control]="userNameModel"
                                                [controlEl]="userNameE1"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="CommericalName">
                        {{ "Name" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="name"
                               id="name"
                               required
                               maxlength="32"
                               [(ngModel)]="currentUser.name"
                               #nameModel="ngModel"
                               #nameE1 />
                        <abp-validation-summary [control]="nameModel"
                                                [controlEl]="nameE1"></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="surname">
                        {{ "Surname" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="surname"
                               id="surname"
                               required
                               maxlength="32"
                               [(ngModel)]="currentUser.surname"
                               #surnameModel="ngModel"
                               #surnameE1 />
                        <abp-validation-summary [control]="surnameModel"
                                                [controlEl]="surnameE1"></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="Email">
                        {{ "EmailAddress" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="emailAddress"
                               id="emailAddress"
                               required
                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
                               maxlength="32"
                               [(ngModel)]="currentUser.emailAddress"
                               #emailAddressModel="ngModel"
                               #emailAddress />
                        <abp-validation-summary [control]="emailAddressModel"
                                                [controlEl]="emailAddress"></abp-validation-summary>
                    </div>
                </div>
                <!--<div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="surname">
                        {{ "Password" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="password"
                               class="form-control"
                               name="password"
                               id="password"
                               required
                               maxlength="32"
                               validateEqual="confirmPassword"
                               reverse="true"
                               pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$"
                               [(ngModel)]="currentUser.password"
                               #passwordModel="ngModel"
                               #password />
                        <abp-validation-summary [control]="passwordModel"
                                                [controlEl]="password"
                                                [customValidationErrors]="passwordValidationErrors"></abp-validation-summary>
                    </div>
                </div>-->
            </tab>
        </tabset>
    </div>
    <abp-modal-footer [cancelDisabled]="saving"
                      [saveDisabled]="!createUserModal.form.valid || saving"
                      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
