<!--<form class="form-horizontal"
      autocomplete="off"
      #createUserModal="ngForm"
      (ngSubmit)="save()">
    <abp-modal-header [title]="'CreateNewAgency' | localize"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="Name">
                {{ "Name" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text"
                       class="form-control"
                       name="name"
                       id="name"
                       required
                       maxlength="32"
                       [(ngModel)]="agency.name"
                       #nameModel="ngModel"
                       #nameE1 />
                <abp-validation-summary [control]="nameModel"
                                        [controlEl]="nameE1"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="CommericalRegisterationNumber">
                {{ "Description" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text"
                       class="form-control"
                       name="description"
                       id="description"
                       required
                       maxlength="32"
                       [(ngModel)]="agency.description"
                       #descriptionModel="ngModel"
                       #descriptionE1 />
                <abp-validation-summary [control]="descriptionModel"
                                        [controlEl]="descriptionE1"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="ADDRESS">
                {{ "AgencyType" | localize }}
            </label>
            <div class="col-md-9">
                <select name="agencyTypeId"
                        class="form-control"
                        id="Address" [(ngModel)]="agency.agencyTypeId"
                        #agencyTypeIdModel="ngModel"
                        #agencyTypeId required>
                    <option *ngFor="let agencyType of agencyTypes" [value]="agencyType.id">{{agencyType.name}}</option>
                </select>-->
                <!--<input type="text"
                class="form-control"
                name="agencyTypeId"
                id="Address"
                required
                maxlength="32"
                [(ngModel)]="qcUser.address"
                #addressModel="ngModel"
                #address />-->
                <!--<abp-validation-summary [control]="agencyTypeIdModel"
                                        [controlEl]="agencyTypeId"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="CONTRACTNAME">
                {{ "ResponsiblePerson" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text"
                       class="form-control"
                       name="responsiblePerson"
                       id="responsiblePerson"
                       required
                       maxlength="32"
                       [(ngModel)]="agency.responsiblePerson"
                       #responsiblePersonModel="ngModel"
                       #responsiblePerson />
                <abp-validation-summary [control]="responsiblePersonModel"
                                        [controlEl]="responsiblePerson"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="CONTRACTNAME">
                {{ "PhoneNumber" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text"
                       class="form-control"
                       name="phoneNumber"
                       id="phoneNumber"
                       required
                       maxlength="32"
                       [(ngModel)]="agency.phoneNumber"
                       #phoneNumberModel="ngModel"
                       #phoneNumber />
                <abp-validation-summary [control]="phoneNumberModel"
                                        [controlEl]="phoneNumber"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="CONTRACTNAME">
                {{ "MobilePhoneNumber" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text"
                       class="form-control"
                       name="mobilePhoneNumber"
                       id="mobilePhoneNumber"
                       required
                       maxlength="32"
                       [(ngModel)]="agency.mobilePhoneNumber"
                       #mobilePhoneNumberModel="ngModel"
                       #mobilePhoneNumber />
                <abp-validation-summary [control]="mobilePhoneNumberModel"
                                        [controlEl]="mobilePhoneNumber"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="CONTRACTNAME">
                {{ "WorkNumber" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text"
                       class="form-control"
                       name="workNumber"
                       id="workNumber"
                       required
                       maxlength="32"
                       [(ngModel)]="agency.workNumber"
                       #workNumberModel="ngModel"
                       #workNumber />
                <abp-validation-summary [control]="workNumberModel"
                                        [controlEl]="workNumber"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="CONTRACTNAME">
                {{ "ADDRESS" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text"
                       class="form-control"
                       name="address"
                       id="address"
                       required
                       maxlength="32"
                       [(ngModel)]="agency.address"
                       #addressModel="ngModel"
                       #address />
                <abp-validation-summary [control]="addressModel"
                                        [controlEl]="address"></abp-validation-summary>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving"
                      [saveDisabled]="!createUserModal.form.valid || saving"
                      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>-->
