<div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>{{ "Edit" | localize }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid ng-tns-c101-4">
        <div class="container-fluid">
            <div class="col-container">
                <div class="card-header d-flex justify-content-center">
                    <h3 class="card-title" style="margin-top: 8px; color: white;">{{ request.statusName | localize }}</h3>
                    <div class="" style="padding-right: 384px">
                        <button *ngIf="request.id<1  &&request.status ==1 && isGranted('Pages.Manage.Contractor')" type="button"
                                (click)="save(1)"
                                [disabled]="!createRequestForm.form.valid || saving"
                                class="btn btn-success"
                                aria-label="Close">
                            {{ saveText | localize }}
                        </button>

                        <button *ngIf="request.id>0 && isGranted('Pages.Manage.Contractor') && (request.status ==1 ||request.status ==5  )" type="button"
                                [disabled]="requestTests.length==0"
                                (click)="save(2)"
                                class="btn btn-success"
                                aria-label="Close">
                            {{ "SendToConsultant" | localize }}
                        </button>

                        <button *ngIf="(request.status ==2 && consultantId== appSession.userId) || (request.status ==2 && isGranted('Pages.Roles')) " type="button"
                                [disabled]="!createRequestForm.form.valid || saving"
                                (click)="save(3)"
                                class="btn btn-success"
                                aria-label="Close">
                            {{ "Approved" | localize }}
                        </button>

                        <button *ngIf="(request.status ==3 && isGranted('Pages.Manage.LabProjectManager')) || (request.status ==3 && isGranted('Pages.Roles')) " type="button"
                                [disabled]="!createRequestForm.form.valid || saving"
                                (click)="save(4)"
                                class="btn btn-success"
                                aria-label="Close">
                            {{ "Approved" | localize }}
                        </button>

                        <button *ngIf="(request.status ==2 && consultantId ==appSession.userId)
                             || isGranted('Pages.Manage.LabProjectManager')       || (request.status ==3 && appSession.userId == supervisingQualityId)
                                    || ((request.status ==2 ||request.status ==3)  && isGranted('Pages.Roles')) " type="button"
                                [disabled]="!createRequestForm.form.valid || saving"
                                (click)="rejectRequest()"
                                class="btn btn-danger mr-3"
                                aria-label="Close">
                            {{ "RequestRejected" | localize }}
                        </button>

                    </div>
                   
                </div>
                <div class="card-body card ng-tns-c101-3">

                    <form class="form-horizontal"
                          autocomplete="off"
                          #createRequestForm="ngForm"
                          (ngSubmit)="save(1)">


                        <div class="row">
                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="Name">
                                    {{ "ProjectName" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <input type="text"
                                           class="form-control" disabled
                                           name="projectname"
                                           id="projectname"
                                           [(ngModel)]="projectName"
                                           #projectnameModel="ngModel"
                                           #projectnameE1 />
                                    <abp-validation-summary [control]="projectnameModel"
                                                            [controlEl]="projectnameE1"></abp-validation-summary>
                                </div>
                            </div>


                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="CommericalRegisterationNumber">
                                    {{ "ContractNumber" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <input type="text"
                                           class="form-control" disabled
                                           name="contractNumber"
                                           id="contractNumber"
                                           [(ngModel)]="projectContractNumber"
                                           #contractNumberModel="ngModel"
                                           #contractNumber />
                                    <abp-validation-summary [control]="contractNumberModel"
                                                            [controlEl]="contractNumber"></abp-validation-summary>
                                </div>
                            </div>

                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="ADDRESS">
                                    {{ "Agency" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <select name="agencyId"
                                            class="form-control"
                                            id="agencyId" [(ngModel)]="projectAgency"
                                            disabled>
                                        <option *ngFor="let agency of allAgencies" [value]="agency.id">{{agency.name}}</option>
                                    </select>


                                </div>
                            </div>

                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="ADDRESS">
                                    {{ "Departments" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <select name="DepartmentId"
                                            class="form-control"
                                            id="DepartmentId" [(ngModel)]="projectDepartmentId"
                                            disabled>
                                        <option *ngFor="let department of allDepartments" [value]="department.id">{{department.name}}</option>
                                    </select>


                                </div>
                            </div>
                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="ADDRESS">
                                    {{ "StartDate" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <input type="date"
                                           class="form-control" disabled
                                           name="startDate"
                                           id="startDate"
                                           style="text-align: right;"
                                           [(ngModel)]="startDatemodel"
                                           #startDateModel="ngModel"
                                           #startDate />
                                    <abp-validation-summary [control]="startDateModel"
                                                            [controlEl]="startDate"></abp-validation-summary>
                                </div>
                            </div>

                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="ADDRESS">
                                    {{ "EndProject" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <input type="date"
                                           class="form-control" disabled
                                           style="text-align: right;"
                                           name="completeDate"
                                           id="completeDate"
                                           [(ngModel)]="completeDatemodel"
                                           #completeDateModel="ngModel"
                                           #completeDate />
                                    <abp-validation-summary [control]="completeDateModel"
                                                            [controlEl]="completeDate"></abp-validation-summary>
                                </div>
                            </div>

                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="Name">
                                    {{ "Name" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <input type="text" [disabled]="request.id>0"
                                           class="form-control"
                                           name="name"
                                           id="name"
                                           [(ngModel)]="request.name"
                                           #nameModel="ngModel"
                                           #nameE1 />
                                    <abp-validation-summary [control]="nameModel"
                                                            [controlEl]="nameE1"></abp-validation-summary>
                                </div>
                            </div>
                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="CommericalRegisterationNumber">
                                    {{ "Code" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <input type="text" [disabled]="request.id>0"
                                           class="form-control"
                                           name="code"
                                           id="code"
                                           [(ngModel)]="request.code"
                                           #codeModel="ngModel"
                                           #codeE1 />
                                    <abp-validation-summary [control]="codeModel"
                                                            [controlEl]="codeE1"></abp-validation-summary>
                                </div>
                            </div>

                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="ADDRESS">
                                    {{ "InspectionDate" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <input type="date"
                                           [min]="minDate"
                                           class="form-control"
                                           name="inspectionDate"
                                           id="inspectionDate"
                                           required
                                           [(ngModel)]="InspectionDatemodel"
                                           #inspectionDateModel="ngModel"
                                           #inspectionDate />
                                    <abp-validation-summary [control]="inspectionDateModel"
                                                            [controlEl]="inspectionDate"></abp-validation-summary>
                                </div>
                            </div>
                           <div class="row col-12">
                                <div class="form-group  required col-2">
                                    <label class="col-md-12 col-form-label" for="ADDRESS">
                                        {{ "SiteReadinessTime" | localize }}
                                    </label>

                                </div>

                                <div class="form-group row required col-2">
                                    <label class="col-md-6 col-form-label" for="ADDRESS">
                                        {{ "Min" | localize }}
                                    </label>
                                    <div class="col-md-5">
                                        <input type="number"
                                               min="1" max="60"
                                               class="form-control"
                                               name="Min"
                                               id="Min"
                                               required
                                               [(ngModel)]="request.min"
                                               #MinModel="ngModel"
                                                  #Min />
                                    <abp-validation-summary [control]="MinModel"
                                                            [controlEl]="Min"></abp-validation-summary>
                                        <!--(change)="hourse < 0 ? hourse = 0 : hourse; hourse > 60 ? hourse = 0 : hourse;"-->
                                    </div>
                                </div>

                                <div class="form-group row required col-2">
                                    <label class="col-md-6 col-form-label" for="ADDRESS">
                                        {{ "Hours" | localize }}
                                    </label>
                                    <div class="col-md-5">
                                        <input type="number"
                                               min="1" max="60"
                                               class="form-control"
                                               name="Hours"
                                               id="Hours"
                                               required
                                               [(ngModel)]="request.hours"
                                               #HoursModel="ngModel"
                                               #Hours />
                                        <abp-validation-summary [control]="HoursModel"
                                                                [controlEl]="Hours"></abp-validation-summary>
                                        <!--(change)="request.hours < 0 ? request.hours = 0 : request.hours; request.hours > 60 ? request.hours = 0 : request.hours;"-->
                                    </div>
                                </div>
                            </div>
                         


                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="Description">
                                    {{ "Commetns" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <input type="text"
                                           class="form-control"
                                           name="description"
                                           id="description"
                                           [(ngModel)]="request.description"
                                           #descriptionModel="ngModel"
                                           #descriptionE1 />
                                    <abp-validation-summary [control]="descriptionModel"
                                                            [controlEl]="descriptionE1"></abp-validation-summary>
                                </div>
                            </div>

                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="ADDRESS">
                                    {{ "ChooseProject" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <select name="project" [disabled]="request.id>0"
                                            class="form-control"
                                            id="project" [(ngModel)]="request.projectId"
                                            #projectModel="ngModel"
                                            #project>
                                        <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
                                    </select>
                                    <abp-validation-summary [control]="projectModel"
                                                            [controlEl]="project"></abp-validation-summary>
                                </div>
                            </div>

                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="DistrictName">
                                    {{ "DistrictName" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <input type="text"
                                           class="form-control"
                                           name="districtName"
                                           id="districtName"
                                           required
                                           [(ngModel)]="request.districtName"
                                           #districtNameModel="ngModel"
                                           #districtNameE1 />
                                    <abp-validation-summary [control]="districtNameModel"
                                                            [controlEl]="districtNameE1"></abp-validation-summary>
                                </div>
                            </div>

                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="DistrictName">
                                    {{ "PhoneNumberSiteResponsible1" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <input type="number"
                                           class="form-control"
                                           name="phomeNumberSiteResponsibleOne"
                                           id="phomeNumberSiteResponsibleOne"
                                           required
                                           [(ngModel)]="request.phomeNumberSiteResponsibleOne"
                                           #phomeNumberSiteResponsibleOneModel="ngModel"
                                           #phomeNumberSiteResponsibleOneE1 />
                                    <abp-validation-summary [control]="phomeNumberSiteResponsibleOneModel"
                                                            [controlEl]="phomeNumberSiteResponsibleOneE1"></abp-validation-summary>
                                </div>
                            </div>

                            <div class="form-group row col-6">
                                <label class="col-md-3 col-form-label" for="DistrictName">
                                    {{ "PhoneNumberSiteResponsible2" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <input type="number"
                                           class="form-control"
                                           name="phomeNumberSiteResponsibleTwo"
                                           id="phomeNumberSiteResponsibleTwo"
                                           [(ngModel)]="request.phomeNumberSiteResponsibleTwo"
                                           #phomeNumberSiteResponsibleTwoModel="ngModel"
                                           #phomeNumberSiteResponsibleTwoE1 />
                                    <abp-validation-summary [control]="phomeNumberSiteResponsibleTwoModel"
                                                            [controlEl]="phomeNumberSiteResponsibleTwoE1"></abp-validation-summary>
                                </div>
                            </div>

                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="ADDRESS">
                                    {{ "MainRequestTypes" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <select name="mainRequestType" [disabled]="request.id>0"
                                            class="form-control"
                                            id="mainRequestType" [(ngModel)]="request.mainRequestType"
                                            #mainRequestTypeModel="ngModel"
                                            #mainRequestType>
                                        <option *ngFor="let mainRequestType of mainRequestTypes" [value]="mainRequestType.id">{{mainRequestType.name | localize}}</option>
                                    </select>
                                    <abp-validation-summary [control]="mainRequestTypeModel"
                                                            [controlEl]="mainRequestType"></abp-validation-summary>
                                </div>
                            </div>

                            <div class="form-group row required col-6">
                                <label class="col-md-3 col-form-label" for="isLabTest">
                                    {{ "HasSample" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" (ngModelChange)="sampleChange($event)" [disabled]="request.id>0"
                                               class="custom-control-input"
                                               name="hasSample"
                                               id="hasSample"
                                               [(ngModel)]="hasSample" />
                                        <label class="custom-control-label mt-2" for="hasSample"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row required col-6" *ngIf="hasSample">
                                <label class="col-md-3 col-form-label" for="ADDRESS">
                                    {{ "TypeofTest" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <select name="testType"
                                            class="form-control" [disabled]="request.id>0"
                                            id="testType" [(ngModel)]="request.testType"
                                            #testTypeModel="ngModel"
                                            #testTypeType>
                                        <option *ngFor="let inspectionTestType of inspectionTestTypes" [value]="inspectionTestType.id">{{inspectionTestType.name | localize}}</option>
                                    </select>
                                    <abp-validation-summary [control]="testTypeModel"
                                                            [controlEl]="testTypeType"></abp-validation-summary>
                                </div>
                            </div>

                        </div>
                       
                    </form>

                </div>
            </div>
        </div>
    </section>

    <section class="content px-2" *ngIf="hasSample && request.id>0">
        <div class="container-fluid">
            <div class="col-container">
                <div class="card-body card ng-tns-c101-3" style="width:100% !important;">
                    <tabset>
                        <tab [heading]="'InspectionTest' | localize" class="pt-3 px-2">
                            <form class="form-horizontal"
                                  autocomplete="off"
                                  #requestInspectionForm="ngForm"
                                  (ngSubmit)="saveProductItems()">

                                <div class="row" style="display: -webkit-box !important">
                                    <div class="form-group row col-8 required">
                                        <label class="col-md-3 col-form-label" for="Name">
                                            {{ "InspectionTest" | localize }}
                                        </label>
                                        <div class="col-md-9">
                                            <select name="inspectionTestId"
                                                    class="form-control"
                                                    id="inspectionTestId" [(ngModel)]="requestInspection.inspectionTestId"
                                                    #inspectionTestIdModel="ngModel"
                                                    #inspectionTestId required>
                                                <option *ngFor="let inspectionTest of inspectionTests" [value]="inspectionTest.id">{{inspectionTest.name}}</option>
                                            </select>
                                            <abp-validation-summary [control]="inspectionTestIdModel"
                                                                    [controlEl]="inspectionTestId"></abp-validation-summary>
                                        </div>
                                    </div>



                                    <button type="button"
                                            [disabled]="!requestInspectionForm.form.valid || saving"
                                            class="btn btn-primary col-1" style="margin-right: 14px"
                                            (click)="saveInspectionTest()"
                                            aria-label="Close">
                                        {{ "Save" | localize }}
                                    </button>
                                </div>


                            </form>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead class="bg-light">
                                        <tr>
                                            <th>{{ "Name" | localize }}</th>
                                            <th>{{ "Code" | localize }}</th>
                                            <th>{{ "Cost" | localize }}</th>
                                            <th style="width: 310px;" *ngIf="isGranted('Pages.Manage.Contractor')"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let requestTest of requestTests">
                                            <td>{{ requestTest.name }}</td>
                                            <td>{{ requestTest.code }}</td>
                                            <td>{{ requestTest.cost}}</td>
                                            <td *ngIf="isGranted('Pages.Manage.Contractor')">

                                                <button type="button"
                                                        class="btn btn-sm bg-danger mx-2"
                                                        (click)="delete(requestTest)">
                                                    <i class="fas fa-trash"></i>
                                                    {{ "Delete" | localize }}
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>

                        <tab [heading]="'ProjectItems' | localize" class="pt-3 px-2">
                            <form class="form-horizontal"
                                  autocomplete="off"
                                  #projectItemsForm="ngForm"
                                  (ngSubmit)="saveProductItems()">

                                <div class="row" style="display: -webkit-box !important">
                                    <div class="form-group row col-8 required">
                                        <label class="col-md-3 col-form-label" for="Name">
                                            {{ "ProjectItems" | localize }}
                                        </label>
                                        <div class="col-md-9">
                                            <select name="ProjectItemId"
                                                    class="form-control"
                                                    id="ProjectItemId" [(ngModel)]="selectedprojectItem"
                                                    #projectItemIdModel="ngModel"
                                                    #projectItemId required>
                                                <option *ngFor="let projectItem of projectItems" [value]="projectItem.id">{{projectItem.name}}</option>
                                            </select>
                                            <abp-validation-summary [control]="projectItemIdModel"
                                                                    [controlEl]="projectItemId"></abp-validation-summary>
                                        </div>
                                    </div>



                                    <button type="button"
                                            [disabled]="!projectItemsForm.form.valid || saving"
                                            class="btn btn-primary col-1" style="margin-right: 14px"
                                            (click)="saveProjectItems()"
                                            aria-label="Close">
                                        {{ "Save" | localize }}
                                    </button>
                                </div>


                            </form>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead class="bg-light">
                                        <tr>
                                            <th>{{ "Name" | localize }}</th>
                                            <th>{{ "Description" | localize }}</th>
                                            <th>{{ "Qty" | localize }}</th>
                                            <th style="width: 310px;" *ngIf="isGranted('Pages.Manage.Contractor')"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let requestProjectItem of requestProjectItems">
                                            <td>{{ requestProjectItem.requestProjectItem.name }}</td>
                                            <td>{{ requestProjectItem.requestProjectItem.description }}</td>
                                            <td>{{ requestProjectItem.requestProjectItem.quantity}}</td>
                                            <td *ngIf="isGranted('Pages.Manage.Contractor')">
                                                <button type="button" *ngIf="isGranted('Pages.Manage.Project')"
                                                        class="btn btn-sm bg-danger mx-2"
                                                        (click)="deleteRequestItem(requestProjectItem)">
                                                    <i class="fas fa-trash"></i>
                                                    {{ "Delete" | localize }}
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>
                        <tab [heading]="'History' | localize" class="pt-3 px-2">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead class="bg-light">
                                        <tr>
                                            <th>{{ "ActionName" | localize }}</th>
                                            <th>{{ "ActionNote" | localize }}</th>
                                            <th>{{ "CreationDate" | localize }}</th>
                                            <!--<th style="width: 310px;"></th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let requestHistory of requestHistories">
                                            <td>{{ requestHistory.actionName }}</td>
                                            <td>{{ requestHistory.actionNotes }}</td>
                                            <td>{{ requestHistory.creationTime  | date: 'dd/MM/yyyy'}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>
</div>
