<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>{{ "ExaminationRequest" | localize }}</h1>
                </div>
                <div class="col-6 text-right" *ngIf="isGranted('Pages.Manage.Contractor')">
                    <a href="javascript:;" class="btn bg-blue" (click)="createAgency()">
                        <i class="fa fa-plus-square"></i>
                        {{ "Create" | localize }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">&emsp;</div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button"
                                            class="btn bg-blue"
                                            (click)="getDataPage(1)">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       name="keyword"
                                       [placeholder]="'SearchWithThreeDot' | localize"
                                       [(ngModel)]="keyword"
                                       (keyup.enter)="getDataPage(1)" />
                                <div class="input-group-append">
                                    <button type="button"
                                            class="btn btn-default"
                                            (click)="advancedFiltersVisible = !advancedFiltersVisible">
                                        <i class="fas"
                                           [class.fa-angle-up]="advancedFiltersVisible"
                                           [class.fa-angle-down]="!advancedFiltersVisible"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="advancedFiltersVisible" class="card mb-0 mt-1">
                        <div class="card-body">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row mb-0">
                                            <label class="col-md-3 col-form-label" for="ADDRESS">
                                                {{ "ChooseProject" | localize }}
                                            </label>
                                            <div class="col-md-8">
                                                <select name="project"
                                                        class="form-control"
                                                        id="projectId" [(ngModel)]="projectId"
                                                        #projectModel="ngModel">
                                                    <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
                                                </select>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row mb-0">
                                            <label class="col-md-3 col-form-label" for="ADDRESS">
                                                {{ "ContractNumber" | localize }}
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text"
                                                       class="form-control"
                                                       name="projectContractNumber"
                                                       id="projectContractNumber"
                                                       [(ngModel)]="contractNumber" />


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mt-3">
                                        <div class="form-group row mb-0">
                                            <label class="col-md-3 col-form-label" for="ADDRESS">
                                                {{ "RequestCode" | localize }}
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text"
                                                       class="form-control"
                                                       name="requestCode"
                                                       id="requestCode"
                                                       [(ngModel)]="requestCode" />


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mt-3">
                                        <div class="form-group row mb-0">
                                            <label class="col-md-3 col-form-label" for="ADDRESS">
                                                {{ "Status" | localize }}
                                            </label>
                                            <div class="col-md-8">
                                                <select name="statusId"
                                                        class="form-control"
                                                        id="statusId" [(ngModel)]="statusId"
                                                        #statusIdModel="ngModel">
                                                    <option *ngFor="let requestStatus of requestStatuses" [value]="requestStatus.id">{{requestStatus.name | localize}}</option>
                                                </select>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mt-3">
                                        <div class="form-group row mb-0">
                                            <label class="col-md-3 col-form-label" for="ADDRESS">
                                                {{ "TownShip" | localize }}
                                            </label>
                                            <div class="col-md-8">
                                                <select name="townShipId"
                                                        class="form-control"
                                                        id="townShipId" [(ngModel)]="townShipId"
                                                        #townShipIdModel="ngModel">
                                                    <option *ngFor="let townShip of allTownShips" [value]="townShip.id">{{townShip.name}}</option>
                                                </select>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button type="button"
                                    class="btn bg-blue"
                                    (click)="getDataPage(1)">
                                {{ "Search" | localize }}
                            </button>
                            <button type="button"
                                    class="btn btn-default float-right"
                                    (click)="clearFilters()">
                                {{ "Clear" | localize }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" [busy]="isTableLoading">
                            <thead class="bg-light">
                                <tr>
                                    <th>{{ "ProjectName" | localize }}</th>
                                    <th>{{ "ContractNumber" | localize }}</th>
                                    <th>{{ "RequestCode" | localize }}</th>
                                    <th>{{ "InspectionDate" | localize }}</th>
                                    <th>{{ "Status" | localize }}</th>
                                    <th>{{ "HasSample" | localize }}</th>

                                    <th style="width: 310px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="
                  let request of requests
                    | paginate
                      : {
                          id: 'server',
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
                        }
                ">
                                    <td>{{ request.project.name }}</td>
                                    <td>{{ request.project.contractNumber }}</td>
                                    <td>{{ request.code }}</td>
                                    <td>{{ request.inspectionDate | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{ request.status | localize }}</td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   class="custom-control-input"
                                                   disabled
                                                   [checked]="request.hasSample===1" />
                                            <label class="custom-control-label"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" *ngIf="isGranted('Pages.Manage.Observer')==false"
                                                class="btn btn-sm bg-secondary"
                                                (click)="editRow(request)">
                                            <i class="fas fa-pencil-alt"></i>
                                            {{ "Edit" | localize }}
                                        </button>
                                      
                                        <button type="button" *ngIf="!isGranted('Pages.Manage.Observer')"
                                                class="btn btn-sm bg-danger mx-2"
                                                (click)="delete(request)">
                                            <i class="fas fa-trash"></i>
                                            {{ "Delete" | localize }}
                                        </button>
                                        <button type="button"
                                                class="btn btn-sm bg-primary"
                                                (click)="viewRow(request)">
                                            <i class="fa fa-eye"></i>
                                            {{ "View" | localize }}
                                        </button>


                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer table-card-footer bg-light border-top">
                    <div class="row">
                        <div class="col-sm-4 col-12 text-sm-left text-center">
                            <button class="btn btn-secondary" (click)="refresh()">
                                <i class="fas fa-redo-alt"></i>
                            </button>
                        </div>
                        <div class="col-sm-4 col-12 text-center">
                            <p class="mb-0 my-2">
                                {{ "TotalRecordsCount" | localize: totalItems }}
                            </p>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="float-sm-right m-auto">
                                <abp-pagination-controls id="server"
                                                         (pageChange)="getDataPage($event)">
                                </abp-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
