<form class="form-horizontal"
      autocomplete="do-not-autofill"
      #createUserModal="ngForm"
      (ngSubmit)="save()">
    <abp-modal-header [title]="'CreateNewContractor' | localize"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">

        <tabset>
            <tab [heading]="'Details' | localize" class="pt-3 px-2">

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="ADDRESS">
                        {{ "UserType" | localize }}
                    </label>
                    <div class="col-md-9">
                        <select name="userType"
                                class="form-control"
                                id="userType" [(ngModel)]="qcUser.userTypes"
                                #userTypeModel="ngModel"
                                #userType required>
                            <option *ngFor="let userType of userTypes" [value]="userType.id">{{userType.arabicName}}</option>
                        </select>
                        <abp-validation-summary [control]="userTypeModel"
                                                [controlEl]="userType"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="COMMERCIALNAME">
                        {{ "Name" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="qcName"
                               id="qcName"
                               required
                                
                               [(ngModel)]="qcUser.name"
                               #qcNameModel="ngModel"
                               #qcNameE1 />
                        <abp-validation-summary [control]="qcNameModel"
                                                [controlEl]="qcNameE1"></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="CommericalRegisterationNumber">
                        {{ "NationalId" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="nationalId"
                               id="nationalId"
                               required
                                
                               [(ngModel)]="qcUser.nationalId"
                               #nationalIdModel="ngModel"
                               #nationalIdE1 />
                        <abp-validation-summary [control]="nationalIdModel"
                                                [controlEl]="nationalIdE1"></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="ADDRESS">
                        {{ "NationalityName" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="nationalityName"
                               id="nationalityName"
                               required
                                
                               [(ngModel)]="qcUser.nationalityName"
                               #nationalityNameModel="ngModel"
                               #nationalityName />
                        <abp-validation-summary [control]="nationalityNameModel"
                                                [controlEl]="nationalityName"></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="CONTRACTNAME">
                        {{ "StaffNumber" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="staffNumber"
                               id="staffNumber"
                               required
                                
                               [(ngModel)]="qcUser.staffNumber"
                               #staffNumberModel="ngModel"
                               #staffNumber />
                        <abp-validation-summary [control]="staffNumberModel"
                                                [controlEl]="staffNumber"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="ADDRESS">
                        {{ "Agency" | localize }}
                    </label>
                    <div class="col-md-9">
                        <select name="agencyTypeId"
                                class="form-control"
                                id="agencyId" [(ngModel)]="qcUser.agencyId"
                                #agencyIdModel="ngModel"
                                #agencyId required>
                            <option *ngFor="let agency of agencies" [value]="agency.id">{{agency.name}}</option>
                        </select>
                        <abp-validation-summary [control]="agencyIdModel"
                                                [controlEl]="agencyId"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="CONTRACTNAME">
                        {{ "PhoneNumber" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="phoneNumber"
                               id="phoneNumber"
                               required
                                
                               [(ngModel)]="qcUser.phoneNumber"
                               #phoneNumberModel="ngModel"
                               #phoneNumber />
                        <abp-validation-summary [control]="phoneNumberModel"
                                                [controlEl]="phoneNumber"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="CONTRACTNAME">
                        {{ "MobilePhoneNumber" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="mobilePhoneNumber"
                               id="mobilePhoneNumber"
                               required
                                
                               [(ngModel)]="qcUser.mobilePhoneNumber"
                               #mobilePhoneNumberModel="ngModel"
                               #mobilePhoneNumber />
                        <abp-validation-summary [control]="mobilePhoneNumberModel"
                                                [controlEl]="mobilePhoneNumber"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="CONTRACTNAME">
                        {{ "WorkPlace" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="workPlace"
                               id="workPlace"
                               required
                                
                               [(ngModel)]="qcUser.workPlace"
                               #workPlaceModel="ngModel"
                               #workPlace />
                        <abp-validation-summary [control]="workPlaceModel"
                                                [controlEl]="workPlace"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="CONTRACTNAME">
                        {{ "ADDRESS" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="address"
                               id="address"
                               required
                                
                               [(ngModel)]="qcUser.address"
                               #addressModel="ngModel"
                               #address />
                        <abp-validation-summary [control]="addressModel"
                                                [controlEl]="address"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="CONTRACTNAME">
                        {{ "Fax" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="faxaa"
                               id="faxaa"
                               required
                               autocomplete="do-not-autofill"
                                
                               [(ngModel)]="qcUser.fax"
                               #faxaaModel="ngModel"
                               #faxaa />
                        <abp-validation-summary [control]="faxaaModel"
                                                [controlEl]="faxaa"></abp-validation-summary>
                    </div>
                </div>
            </tab>
            <tab [heading]="'UserDetails' | localize" class="pt-3 px-2">

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="UserName">
                        {{ "UserName" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="userName"
                               id="userName"
                               required
                                
                               [(ngModel)]="currentUser.userName"
                               #userNameModel="ngModel"
                               #userNameE1 />
                        <abp-validation-summary [control]="userNameModel"
                                                [controlEl]="userNameE1"></abp-validation-summary>
                    </div>
                </div>

                <!--<div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="CommericalName">
                        {{ "Name" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="name"
                               id="name"
                               required
                                
                               [(ngModel)]="currentUser.name"
                               #nameModel="ngModel"
                               #nameE1 />
                        <abp-validation-summary [control]="nameModel"
                                                [controlEl]="nameE1"></abp-validation-summary>
                    </div>
                </div>-->
                <!--<div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="surname">
                        {{ "Surname" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="surname"
                               id="surname"
                               required
                                
                               [(ngModel)]="currentUser.surname"
                               #surnameModel="ngModel"
                               #surnameE1 />
                        <abp-validation-summary [control]="surnameModel"
                                                [controlEl]="surnameE1"></abp-validation-summary>
                    </div>
                </div>-->
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="Email">
                        {{ "EmailAddress" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="emailAddress"
                               id="emailAddress"
                               required
                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
                                
                               [(ngModel)]="currentUser.emailAddress"
                               #emailAddressModel="ngModel"
                               #emailAddress />
                        <abp-validation-summary [control]="emailAddressModel"
                                                [controlEl]="emailAddress"></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="surname">
                        {{ "Password" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="password"
                               class="form-control"
                               name="field1"
                               id="field1"
                               required
                               autocomplete="nope"
                                
                               reverse="true"
                               pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$"
                               [(ngModel)]="currentUser.password"
                               #field1Model="ngModel"
                               #field1 />
                        <abp-validation-summary [control]="field1Model"
                                                [controlEl]="field1"
                                                [customValidationErrors]="passwordValidationErrors"></abp-validation-summary>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
    <abp-modal-footer [cancelDisabled]="saving"
                      [saveDisabled]="!createUserModal.form.valid || saving"
                      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
